// Typografische Defaults
@use '../abstracts/variables' as *;

body {
  font-family: var(--sx-font-family);
  font-size: var(--sx-font-size-base);
  line-height: var(--sx-leading-normal);
  color: var(--sx-color-text);
  background-color: var(--sx-color-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.3;
}
